<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <title>Gallery</title>
</head>
<body>
<nav class="navbar navbar-light bg-light">
  <a class="navbar-brand" href="/">
    <img src="https://gallerymdrobot.blob.core.windows.net/gallery/icon.PNG" width="30" height="30" class="d-inline-block align-top" alt="">
  </a>
  <a class="btn btn-warning" href="/logout">Log out</a>
</nav>

<form form action="#" th:action="@{'/api/v1/photo'}" th:method="post" th:object="${uploadPhoto}" enctype="multipart/form-data">
  <div class="input-group mb-3">
    <div class="input-group-prepend">
      <span class="input-group-text" id="inputGroup-sizing-default">Description</span>
    </div>
    <input type="text" class="form-control" aria-label="Description" aria-describedby="inputGroup-sizing-default" th:field="*{description}">
  </div>

  <div class="input-group mb-3">
    <div class="input-group-prepend">
      <span class="input-group-text" id="inputGroup-sizing-default">Tags</span>
    </div>
    <input type="text" class="form-control" aria-label="Tags" aria-describedby="inputGroup-sizing-default" th:field="*{tags}">
  </div>

  <div class="input-group mb-3">
    <div class="input-group-prepend">
      <span class="input-group-text" id="inputGroup-sizing-default">File</span>
    </div>
      <input type="file" name="file" class="form-control" aria-label="Tags" aria-describedby="inputGroup-sizing-default">
  </div>
  <button type="submit" class="btn btn-outline-success btn-lg" onClick="submit()">Send</button>
</form>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>